body{
  background-color: #012;
  color: white;
  transform: translate();
}


/* TO Check Later */
.links {
  height: 100%;
}
.links li {
  height: 100%;
  border: 2px solid transparent;
  transition: all .2s ease-in-out;
}

.links li:hover {
  border-bottom: 2px solid #61dafbaa;
}

.login-btn:hover {
  box-shadow: 0 0 1em teal;
}